h1 {
color:red;
background-color:black;
font-family:cursive;
text-align:center;
}

p {
color:blue;
background-color:yellow;
font-family:sanf-serif;
font-size:25;
}
h2 {
color:indigo;
font-family:Arial;
text-align:center;
}
